@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@using PMS_Admin_Web.Repository
@using X.PagedList.Mvc.Core
@*@model X.PagedList.IPagedList<PMS_Admin_Web.Models.Loiinformation>*@
@model List<PMS_Admin_Web.Models.Loiinformation>


@{
    ViewData["Title"] = "LOI List";
}

<!--script goes here...-->
<script>
    $(document).ready(function () {
        //start of the document ready function
        //delcaring global variable to hold primary key value.
        var pryEmpId;
        $('.deleteprompt').click(function () {
            var confirmMessageBox = confirm('Are you sure you wish to delete this record ?');
            if (confirmMessageBox) {
                pryEmpId = $(this).attr('id');
                //alert(pryEmpId);
                $.ajax({
                    type: 'GET',
                    url: "@Url.Action("DeleteLOI", "LOI")",
                    data: { Id: pryEmpId },

                    success: function (response) {
                        alert(response);
                        location.reload();
                    },
                    error: function (err) {
                        alert(err);
                        location.reload();
                    }
                });

            }

        });

        $('#btnSearch').click(function () {
            var txtSearchLOI = $('#txtSearchLOI').val();
            var clientname;

            if (txtSearchLOI != '') {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SearchLOI", "LOI")",
                    data: { loinoKeyword: txtSearchLOI },
                    success: function (response) {
                        $('#tbody').html('');
                        $.each(response, function (k, v) {
                            //alert(v.id)
                            if (v.clientName.length > 40) {
                                clientname = $.trim(v.clientName).substring(0, 40).split(" ").slice(0, -1).join(" ") + "...";
                            }
                            else {
                                clientname = v.clientName;
                            }

                            $('#tbody').append('<tr>');
                            $('#tbody').append('<td hidden>' + v.id + '</td>');
                            $('#tbody').append('<td style="color:black;">' + v.loiNo1 + '</td>');
                            $('#tbody').append('<td style="color:black;">' + v.propertyName + '</td>');
                            $('#tbody').append('<td style="color:black;">' + v.aptNo + '</td>');
                            $('#tbody').append('<td style="color:black;">' + clientname + '</td>');
                            $('#tbody').append('<td style="color:black;">' + v.clientSource +'</td>');
                            $('#tbody').append('<td style="color:black;">' + v.leasedate + '</td>');
                            $('#tbody').append('<td style="color:black;">' + v.leaseenddate + '</td>');

                            $('#tbody').append('<td style="color:black;">' + v.loiStatus + '</td>');

                            $('#tbody').append('<td style="text-align: center;"><a href="@Url.Action("PaEditLOI", "PA")?Id=' + v.loiNo + '"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>');
                            $('#tbody').append('<td style="text-align: center;"><a href="javascript:void(0)" id="' + v.id + '" class="deleteprompt"><i style="color:red" class="fa fa-trash" aria-hidden="true"></i></a></td>');
                            $('#tbody').append('</tr>');
                            $('.pagination').css('display', 'none');
                        });
                    }
                })
            }
            else {
                $('#tbody').html('');
                /*$('#tbody').append('<tr>');*/
                $('#tbody').append('<p style="text-align: center;">Search string empty</p>');
                /*$('#tbody').append('</tr>');*/
            }
        })

        //end of the docuement ready function
    });
</script>

@*<div class="row">*@

<div class="card" style="color:burlywood">
    <div class="col-lg-12">
        <div class="card-body">
            <form asp-action="PaListLOI" asp-controller="PA" method="get">
                <div class="col-lg-12">
                    @*<div class="row">
                        <div class="col-lg-3">
                            <h4 style="color:black;"><strong>LOIs</strong></h4>
                        </div>
                        <div class="col-lg-3"></div>
                        <div class="col-lg-3"></div>
                        <div class="col-lg-3 float-right">

                        </div>
                    </div>*@
                    <div class="row">
                        <div class="col-lg-12">
                            <table>
                                <tr>
                                    <td><h4 style="color:black;"><strong>LOIs</strong></h4></td>

                                    <td>
                                        <div class="form-group" style="margin-left: 1200px;">
                                            <label class="control-label text-black-50">Search LOI No</label>
                                            <input id="txtSearchLOI" class="form-control" type="text" style="border-radius:10px;" />
                                        </div>
                                    </td>
                                    <td><button id="btnSearch" type="button" class="btn btn-primary" style="border-radius: 10px; margin-top: 16px;">Search</button></td>
                                    <td><button asp-action="PaNewLOI" asp-controller="PA" class="btn btn-primary" style="margin-top: 16px; margin-left: 140px; border-radius: 10px; ">New LOI <i class="fa fa-plus-square-o" style="font-size: 20px;"></i></button></td>
                                </tr>
                            </table>
                            @*<div class="row">
                                <div class="col-lg-3">
                                    <h4 style="color:black;"><strong>LOIs</strong></h4>
                                </div>
                                <div class="col-lg-3" style="margin-top: 30px;">
                                    <button asp-action="PaNewLOI" asp-controller="PA" class="btn btn-primary">New LOI <i class="fa fa-plus-square-o" style="font-size:20px;border-radius:10px;"></i></button>
                                </div>
                                
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Search LOI No</label>
                                        <input id="txtSearchLOI" class="form-control" type="text" />
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group" style="padding-top: 32px;">
                                        <button id="btnSearch" type="button" class="btn btn-primary" style="">Search</button>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                    @*<br />*@


                    <div style="overflow-y:auto">
                        <table class="table-bordered" cellpadding="5" cellspacing="5" style="width:100%;">
                            <thead class="bg-success">
                                <tr>
                                    <th hidden></th>
                                    <th class="table-bordered"><label style="color: black; font-size: 17px; width: 150px">LOI No</label></th>
                                    <th class="table-bordered"><label style="color: black; font-size: 17px; width: 190px">Property Name</label></th>
                                    <th class="table-bordered"><label style="color: black; font-size: 17px; width: 100px">Aptno</label></th>
                                    <th class="table-bordered"><label style="color: black; font-size: 17px; width: 345px;">Client Name</label></th>
                                    <th class="table-bordered"><label style="color: black; font-size: 17px; width: 120px">Source</label></th>
                                    <th class="table-bordered"><label style="color: black; font-size: 17px; width: 175px">Lease Start Date</label></th>
                                    <th class="table-bordered"><label style="color: black; font-size: 17px; width: 175px">Lease End Date</label></th>
                                    <th class="table-bordered"><label style="color: black; font-size: 17px; width: 100px">Status</label></th>
                                    <th class="table-bordered"><label style="color: black; font-size: 17px; width: 125px;">LOI Document</label></th>
                                    <th class="table-bordered" colspan="3"><label style="color: black; font-size: 17px; width: 100px; text-align: center;">Actions</label></th>
                                </tr>
                            </thead>
                            <tbody id="tbody" class="bg-white">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td hidden>@item.Id</td>
                                        <td style="color:black;">@item.LoiNo1</td>
                                        <td style="color:black;">@item.PropertyName</td>
                                        <td style="color:black;">@item.Aptno</td>
                                        <td style="color:black;">@CommonRepository.Truncate(item.ClientName, 40)</td>
                                        <td style="color:black;">@item.ClientSource</td>
                                        <td style="color:black;">@(Convert.ToDateTime(item.Leasedate).ToShortDateString())</td>
                                        <td style="color:black;">@(Convert.ToDateTime(item.Leaseenddate).ToShortDateString())</td>
                                        <td style="color:black;">@item.LoiStatus</td>
                                        <td style="text-align: center;">
                                            @if (item.LoiNo1 != "" && item.LoiNo1 != null)
                                            {
                                                <a href="@Url.Action("ViewLOI", "PA",new { loino = item.LoiNo1 })">View</a>
                                            }
                                                
                                        </td>
                                        <td style="text-align: center;">
                                            <a asp-action="PaEditLOI" asp-controller="PA" asp-route-loiNo="@item.LoiNo"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="javascript:void(0)" id="@item.Id" class="deleteprompt"><i style="color:red" class="fa fa-trash" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />

            </form>
        </div>
    </div>
</div>

@*</div>*@
