@model PMS_Admin_Web.Models.PA.WorkDescriptionUpdateModel

@using Microsoft.AspNetCore.Http;

@{

    ViewData["Title"] = "Work Description Update";

}


@*<div class="row">*@
<div class="col-lg-12">
    @*@Html.Raw(@ViewBag.Alert)*@
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">

                    window.onload = function () {
                        alert("@ViewBag.Message");
                    };
                    /*location.reload();*/
        </script>
    }
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>

        function fcastatus() {
            var fcastatus = $('#fcastatus').val();
            if (fcastatus == "VERIFIED") {
                $('#workdescription').prop('disabled', true);
                $('#datecompleted').prop('disabled', true); 
                $('#itemdescription').prop('disabled', true);
                $('#qty').prop('disabled', true);
            }
            else {
                $('#workdescription').prop('disabled', false);
                $('#datecompleted').prop('disabled', false);
                $('#itemdescription').prop('disabled', false);
                $('#qty').prop('disabled', false);
            }
        }

        $(document).ready(function () {
            fcastatus();
                    
            //$('#divWorkdescription').hide();
            ///*$('#divWorkdescriptionLabel').hide();*/
            //$('#divWorkdescriptionOption').hide();
            //$('#divAddworkdone').hide();
            //$('#divDateComplete').hide();
            //$('#divItempurchase').hide();

            //var underObservationStop = $('#underObservationStop').val();
            //if (underObservationStop <= Date.now.toString()) {
            //    $('#status').prop('disabled', true);
            //}
            //else {
            //    $('#status').prop('disabled', false);
            //}

            //$('#status').change(function () {
            //    var status = $('#status :selected').val();
            //    if (status == "Done") {

            //        $('#divWorkdescription').show();
            //        /*$('#divWorkdescriptionLabel').show();*/
            //        $('#divWorkdescriptionOption').show();
            //        $('#divAddworkdone').show();
            //        $('#divDateComplete').show();
            //        $('#divItempurchase').show();
            //    }
            //    else {

            //        $('#divWorkdescription').hide();
            //        /*$('#divWorkdescriptionLabel').hide();*/
            //        $('#divWorkdescriptionOption').hide();
            //        $('#divAddworkdone').hide();
            //        $('#divDateComplete').hide();
            //        $('#divItempurchase').hide();
            //    }
            //})

            $('#itempurchasedYes').click(function () {
                //$('#itemdescription').prop('disabled', false);
                //$('#qty').prop('disabled', false);
                $("#StatusDoneModal").modal('show');
            })
            $('#itempurchasedNo').click(function () {
                //$('#itemdescription').prop('disabled', true);
                //$('#qty').prop('disabled', true);
                $("#StatusDoneModal").modal('hide');
            })
        })


    </script>
    <form asp-controller="PA" asp-action="WorkDescriptionUpdate">
        <div class="card" style="color:burlywood">
            <div class="card-header" style="background-color: darksalmon;">
                <h5 class="text-center" style="color:black"><strong>Work Description Update</strong></h5>
            </div>
            <div class="card-body">
                <br />
                <div class="col-lg-12">
                    <div class="row">
                        @Html.HiddenFor(model => model.missue.Id)
                        <input type="hidden" id="MissueId" asp-for="missue.Id" />
                        @Html.HiddenFor(model => model.EmailCC)
                        @Html.HiddenFor(model => model.EmailTo)
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label text-black-50">Complaint Number</label>
                                <input disabled asp-for="missue.IssueNo" class="form-control" type="text" style="border-radius: 10px;" />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label text-black-50">Apt\Location</label>
                                <input asp-for="missue.Aptlocation" class="form-control" type="text" style="border-radius: 10px;" />
                                @*<span asp-validation-for="LcInfo.LcNo" class="text-danger"></span>*@
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label text-black-50">Issue</label>
                                <textarea asp-for="missue.Issue" class="form-control" type="text" style="border-radius: 10px;"></textarea>
                                @*<span asp-validation-for="LcInfo.LcNo" class="text-danger"></span>*@
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label text-black-50">FCA Status</label>
                                <input disabled id="fcastatus" asp-for="missue.Wdstatus" class="form-control" type="text" style="border-radius: 10px;" />
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label text-black-50">Date Completed</label>
                                <input id="datecompleted" asp-for="missue.Wcdate" class="form-control" type="date" style="border-radius: 10px;" />
                                @*<span asp-validation-for="LcInfo.LcNo" class="text-danger"></span>*@
                            </div>
                        </div>
                        <div id="divItempurchase" class="col-lg-3">
                            <label>Items Purchased?</label>
                            <div class="row">
                                @if (Model.missue.Itempurchase != null)
                                {
                                    @if (Model.missue.Itempurchase == "YES")
                                    {
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Yes</label>
                                                <input id="itempurchasedYes" asp-for="missue.Itempurchase" type="radio" value="YES" checked />
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>No</label>
                                                <input id="itempurchasedNo" asp-for="missue.Itempurchase" type="radio" value="NO" />
                                            </div>
                                        </div>
                                    }
                                    @if(Model.missue.Itempurchase == "NO")
                                    {
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Yes</label>
                                                <input id="itempurchasedYes" asp-for="missue.Itempurchase" type="radio" value="YES" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>No</label>
                                                <input id="itempurchasedNo" asp-for="missue.Itempurchase" type="radio" value="NO" checked />
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                        <div id="divWorkdescription" class="col-lg-3">
                            <div class="form-group">
                                <label style="color:black">Work Description</label>
                                <textarea id="workdescription" asp-for="missue.Workdescription" type="text" class="form-control" style="border-radius: 10px;"></textarea>
                                <label class="control-label text-black-50" style="font-size: 13px;">Note: Do not leave unnecessary space lines.</label>
                            </div>
                        </div>
                        <div id="divAddworkdone" class="col-lg-3">
                            <div class="form-group">
                                <label>Additional Work Done by Maintenance Staff</label>
                                <textarea asp-for="missue.Additionalwork" type="text" class="form-control" style="border-radius: 10px;"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label text-black-50">Contractor Name</label>
                                <input disabled asp-for="missue.Contractorname" class="form-control" type="text" style="border-radius: 10px;" />
                            </div>
                        </div>
                    </div>
                        

                        
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Contractor Type</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="width: 195px;">
                                            <div class="form-group">
                                                <label class="control-label text-black-50">Outsource Contractor</label>
                                                @if (Model.missue.Contractortype != null)
                                                {
                                                    @if (Model.missue.Contractortype == "Outside")
                                                    {
                                                        <input id="outsourceContractor" asp-for="missue.Contractortype" type="radio" checked value="Outside" />
                                                    }
                                                    else
                                                    {
                                                        <input id="outsourceContractor" asp-for="missue.Contractortype" type="radio" value="Outside" />
                                                    }
                                                }
                                            </div>
                                        </td>
                                        <td style="width: 195px;">
                                            <div class="form-group">
                                                <label class="control-label text-black-50">Handyman (In-house)</label>
                                                @if (Model.missue.Contractortype != null)
                                                {
                                                    @if (Model.missue.Contractortype == "Handyman")
                                                    {
                                                        <input id="handyman" asp-for="missue.Contractortype" type="radio" checked value="Handyman" />
                                                    }
                                                    else
                                                    {
                                                        <input id="handyman" asp-for="missue.Contractortype" type="radio" value="Handyman" />
                                                    }
                                                }
                                            </div>
                                        </td>
                                        <td style="width: 159px;">
                                            <div class="form-group">
                                                <label class="control-label text-black-50">IT Admin/Other</label>
                                                @if (Model.missue.Contractortype != null)
                                                {
                                                    @if (Model.missue.Contractortype == "Q8realtor")
                                                    {
                                                        <input id="itAdminOther" asp-for="missue.Contractortype" type="radio" checked value="Q8realtor" />
                                                    }
                                                    else
                                                    {
                                                        <input id="itAdminOther" asp-for="missue.Contractortype" type="radio" value="Q8realtor" />
                                                    }
                                                }
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label text-black-50">Landlord</label>
                                                @if (Model.missue.Contractortype != null)
                                                {
                                                    @if (Model.missue.Contractortype == "Landlord")
                                                    {
                                                        <input id="landlord" asp-for="missue.Contractortype" type="radio" checked value="Landlord" />
                                                    }
                                                    else
                                                    {
                                                        <input id="landlord" asp-for="missue.Contractortype" type="radio" value="Landlord" />
                                                    }
                                                }


                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        @*<div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label text-black-50">Outsource Contractor</label>
                                @if (Model.missue.Contractortype != null)
                                {
                                    @if (Model.missue.Contractortype == "Outside")
                                    {
                                        <input id="outsourceContractor" asp-for="missue.Contractortype" type="radio" checked value="Outside" />
                                    }
                                    else
                                    {
                                        <input id="outsourceContractor" asp-for="missue.Contractortype" type="radio" value="Outside" />
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label text-black-50">Handyman (In-house)</label>
                                @if (Model.missue.Contractortype != null)
                                {
                                    @if (Model.missue.Contractortype == "Handyman")
                                    {
                                        <input id="handyman" asp-for="missue.Contractortype" type="radio" checked value="Handyman" />
                                    }
                                    else
                                    {
                                        <input id="handyman" asp-for="missue.Contractortype" type="radio" value="Handyman" />
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label text-black-50">IT Admin/Other</label>
                                @if (Model.missue.Contractortype != null)
                                {
                                    @if (Model.missue.Contractortype == "Q8realtor")
                                    {
                                        <input id="itAdminOther" asp-for="missue.Contractortype" type="radio" checked value="Q8realtor" />
                                    }
                                    else
                                    {
                                        <input id="itAdminOther" asp-for="missue.Contractortype" type="radio" value="Q8realtor" />
                                    }
                                }


                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label text-black-50">Landlord</label>
                                @if (Model.missue.Contractortype != null)
                                {
                                    @if (Model.missue.Contractortype == "Landlord")
                                    {
                                        <input id="landlord" asp-for="missue.Contractortype" type="radio" checked value="Landlord" />
                                    }
                                    else
                                    {
                                        <input id="landlord" asp-for="missue.Contractortype" type="radio" value="Landlord" />
                                    }
                                }


                            </div>
                        </div>*@
                       

                    </div>
                </div>

                
                
            </div>
        </div>
        <div class="card" style="color:burlywood">
            <div class="card-body">
                <div class="col-lg-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary float-right">Update</button>
                        @*<button type="submit" class="btn btn-primary float-right">Create</button>*@
                    </div>
                </div>
            </div>
        </div>
    </form>

    
    <!--popup for Status = done-->
    <script>
        $(document).ready(function () {
            var itempurchased = [];
            var qtypurchased = [];
            $('#add').click(function () {
                var itemdescription = $('#itemdescription').val();
                var qty = $('#qty').val();

                $('#itemdescription').val('');
                $('#qty').val('');

                $('#itempurchasedtbody').append('<tr>');
                $('#itempurchasedtbody').append('<td style="color:black">' + itemdescription + '</td>');
                $('#itempurchasedtbody').append('<td style="color:black">' + qty + '</td>');
                $('#itempurchasedtbody').append('</tr>');

                itempurchased.push(itemdescription);
                qtypurchased.push(qty);
                $('#hiddenItempurchasedlist').val(itempurchased);
                $('#hiddenQtypurchasedlist').val(qtypurchased);
            })

            $('#remove').click(function () {
                $('#itempurchasedtbody').remove();
                $('#hiddenItempurchasedlist').remove();
                itempurchased.remove();
                qtypurchased.remove();
                //$('#hiddenQtypurchasedlist').remove();
            })

            $('#update').click(function () {
                var hiddenItempurchasedlist = $('#hiddenItempurchasedlist').val();
                var hiddenQtypurchasedlist = $('#hiddenQtypurchasedlist').val();
                var MissueId = $('#MissueId').val();
                var rowCount = $('#itempurchasedtbody tr').length;
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateItemPurchased", "PA")",
                    data: { itemsPurchased: hiddenItempurchasedlist, qtyPurchased: hiddenQtypurchasedlist ,missueId: MissueId, rows: rowCount},
                    success: function (response) {
                        if (response == 1) {
                            console.log("Purchased Items Updated");
                        }
                    }
                })
            })
        })
    </script>

    <div id="StatusDoneModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">


            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Purchased Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>Item Description</label>
                        <input id="itemdescription" type="text" class="form-control" style="border-radius: 10px;" />
                    </div>
                    
                    
                    <div class="form-group">
                        <label>Qty</label>
                        <input id="qty" type="text" class="form-control" style="border-radius: 10px;" />
                    </div>
                    
                    
                    <div class="form-group">
                        <button id="add" class="btn btn-primary" style="border-radius:10px">Add</button>
                    </div>
                    
                    
                    <div class="form-group">
                        <button id="remove" class="btn btn-primary" style="border-radius:10px">Remove</button>
                    </div>
                    
                    
                    <input id="hiddenItempurchasedlist" type="hidden" />
                    <input id="hiddenQtypurchasedlist" type="hidden" />
                    <table class="table-bordered" cellpadding="5" cellspacing="5" style="width:100%;">
                        <thead class="bg-success">
                            <tr>
                                <th class="table-bordered"><label style="color: black; font-size: 17px;">Item Description</label></th>
                                <th class="table-bordered"><label style="color: black; font-size: 17px;">Qty</label></th>
                            </tr>
                        </thead>
                        <tbody id="itempurchasedtbody" class="bg-white">
                            @if(Model.itemspurchased != null)
                            {
                                @*@foreach(var items in Model.itemspurchased)
                                {
                                    <tr>
                                        <td style="color:black;">@items.Itemdesc</td>
                                        <td style="color:black;">@items.Qty</td>
                                    </tr>
                                }*@
                                <tr>
                                    <td><input id="hiddenItemspurchased" type="hidden" asp-for="itemspurchased" /></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="modal-footer">
                        <button type="button" id="update" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!---->
</div>
@*</div>*@
