@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@*@model PMS_Admin_Web.Models.Users.ListUserModel*@


@model PMS_Admin_Web.Models.Property.ManagedPropertyModel

@{
    ViewData["Title"] = "Managed Property";
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>

}

@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
<!--script goes here...-->
<script>
    $(document).ready(function () {
        //start of the document ready function
        //delcaring global variable to hold primary key value.
        $('#divpricetype').hide();
        
        $('.deleteprompt').click(function () {
            var confirmMessageBox = confirm('Are you sure you wish to delete this record ?');
            if (confirmMessageBox) {
                var pryEmpId = $(this).attr('id');
                //alert(pryEmpId);
                $.ajax({
                    type: 'GET',
                    url: "@Url.Action("DeleteUser", "User")",
                    data: { Id: pryEmpId },

                    success: function (response) {
                        alert(response);
                        location.reload();
                    },
                    error: function (err) {
                        alert(err);
                        location.reload();
                    }
                });
            }
        });

        $('#btnSearch').click(function () {
            var txtSearchUser = $('#txtSearchUser').val();

            if (txtSearchUser != '') {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SearchUser", "User")",
                    data: { searchUsername: txtSearchUser },
                    success: function (response) {
                        $('#tbody').html('');
                        $.each(response, function (k, v) {
                            $('#tbody').append(`<tr>
                                                    <td hidden>${v.id}</td>
                                                    <td style="color:black;">${v.usrname}</td>
                                                    <td style="color:black;">${v.department}</td>
                                                </tr>`);
                            $('.pagination').css('display', 'none');
                        });
                    }
                })
            }
            else {
                $('#tbody').html('');
                /*$('#tbody').append('<tr>');*/
                $('#tbody').append('<p style="text-align: center;">Search string empty</p>');
                /*$('#tbody').append('</tr>');*/
            }
        });

        $('#btnasrchanges').click(function () {
            window.location.href = "@Url.Action("ASRSearchProperty", "MenuView")";
        })

        $('#btnavailability').click(function () {
            $('#divpricetype').show();
        })

        $('#chkwithprice').click(function () {
            //AVAILABILITYwithprice.rpt
        })

        $('#chkwithoutprice').click(function () {

        })

        //end of the docuement ready function
    });
</script>

@*<div class="row">*@
<div class="col-lg-12">
    <div class="card" style="color:burlywood">
        <div class="col-lg-12">
            <div class="card-body">
                <form>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3">
                                <h5 style="color:black"><strong>Managed Property</strong></h5>
                            </div>
                            <div class="col-lg-3"></div>
                            <div class="col-lg-3"></div>
                            <div class="col-lg-3">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group" style="width: 212px;">
                                                    <label class="control-label text-black-50">Mode</label>
                                                    <select asp-for="SearchMode" class="form-control" style="border-radius: 10px;">
                                                        <option value="PropertyName">Property Name</option>
                                                        <option value="Location">Location</option>
                                                        <option value="LCNo">Lease No</option>
                                                        <option value="TenantName">Tenant Name</option>
                                                        <option value="ReservedClientName">Reserved Client Name</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group" style="width: 240px;">
                                                    <label class="control-label text-black-50">Keyword</label>
                                                    <input id="searchkeyword" asp-for="SearchKeyword" class="form-control" type="text" style="border-radius: 10px;" />
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <button id="searchbutton" type="button" class="btn btn-primary" style="border-radius: 10px; margin-top: 31px; margin-left: 30px;">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" style="margin-left: -325px;">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <button id="btnasrchanges" type="button" class="btn btn-primary" style="border-radius: 10px; margin-top: 31px; ">ASR Changes</button>
                                            </div>
                                            <div class="col-lg-3" style=" margin-left: -91px;">
                                                <button id="btnavailability" type="button" class="btn btn-primary" style="border-radius: 10px; margin-top: 31px; ">Availability</button>
                                            </div>
                                            <div id="divpricetype" class="col-lg-3" style="margin-top: 35px;">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <div class="form-group" style="width: 90px; margin-left: -85px;">
                                                                <input id="chkwithprice" type="radio" name="chkpricetype" />
                                                                <label class="control-label text-black-50">With Price</label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group" style="width: 115px; margin-left: 20px; ">
                                                                <input id="chkwithoutprice" type="radio" name="chkpricetype" />
                                                                <label class="control-label text-black-50">Without Price</label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-lg-3">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <button id="btncashflow" type="button" class="btn btn-primary" style="border-radius: 10px; margin-top: 31px; ">Cash Flow</button>
                                                        </td>
                                                        <td>
                                                            <button id="btnroi" type="button" class="btn btn-primary" style="border-radius: 10px; margin-top: 31px; ">ROI</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div style="overflow-y: auto;">
                            <table class="table-bordered" cellpadding="5" cellspacing="5" style="width:100%;">
                                <thead class="bg-success" style="width:100%">
                                    <tr>
                                        <th class="table-bordered"><label style="color: black; font-size: 17px; width: 200px;">Property Name</label></th>
                                        <th class="table-bordered"><label style="color: black; font-size: 17px; width: 125px;">Location</label></th>
                                        <th class="table-bordered"><label style="color: black; font-size: 17px; width: 165px;">No Of Apartments</label></th>
                                        <th class="table-bordered"><label style="color: black; font-size: 17px; width: 220px;">No Of Apartments Vacant</label></th>
                                        <th class="table-bordered"><label style="color: black; font-size: 17px; width: 230px;">No Of Apartments Occupied</label></th>
                                        <th><label style="width: 120px"></label></th>
                                        <th><label style="width: 160px"></label></th>
                                        <th><label style="width: 160px"></label></th>
                                        <th><label style="width: 50px"></label></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ManagedProperties)
                                    {
                                        <tr>
                                            <td style="color:black;">@item.PropertyName</td>
                                            <td style="color:black;">@item.Location</td>
                                            <td style="color:black;">@item.NoOfApartment</td>
                                            <td style="color:black;">@item.NoOfApartmentVacant</td>
                                            <td style="color:black;">@item.NoOfApartmentOccupied</td>
                                            <td>
                                                <a asp-action="ListPropertyApt" asp-controller="Property" asp-route-buildingName="@item.PropertyName">View Apartments</a>
                                            </td>
                                            <td>
                                                <a asp-action="ExportRS" asp-controller="MenuView" asp-route-buildingName="@item.PropertyName">Export To Rent Statement 1</a>
                                            </td>
                                            <td>
                                                <a asp-action="RENTST" asp-controller="MenuView" asp-route-bname="@item.PropertyName">Export To Rent Statement 2</a>
                                            </td>
                                            <td>
                                                <a asp-action="PropertyASR" asp-controller="ASR" asp-route-buildingName="@item.PropertyName">ASR</a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />

                </form>

            </div>
        </div>
    </div>
</div>
@*</div>*@
