@model PMS_Admin_Web.Models.Property.PropertyAndAreaModel

@{
    
    ViewData["Title"] = "Create Property";
    
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

        window.onload = function () {
            alert("@ViewBag.Message");
        };
        /*location.reload();*/
    </script>
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    function loadproperty() {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("PropertyNames", "Property")",
            success: function (response) {
                //alert(response);
                //$('#propertyname').append('<option value="" hidden> --Select-- </option>');
                $.each(response, function (k, v) {
                    $('#buildingName').append('<option value="' + v + '" > ' + v + '</option>');
                });
            }
        })
    }

    function loadLocation() {
        $.ajax({
            type:"GET",
            url:"@Url.Action("LoadAreaName", "Common")",
            dataType: "json",
            success: function (response) {
                $.each(response, function (k, v) {
                    $('#location').append('<option value="' + v + '" > ' + v + '</option>');
                });
            }
        })
    }

    $(document).ready(function () {
        loadproperty();
        loadLocation();
        
    })
</script>

@*<div class="row">*@
<div class="col-lg-12">
    @*@Html.Raw(@ViewBag.Alert)*@

    <form asp-controller="Property" asp-action="CreateProperty">
        <div class="card" style="color:burlywood">
            <div class="card-header" style="background-color: darksalmon;">
                <h5 class="text-center" style="color:black"><strong>Create Property</strong></h5>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#BasicDetails">Basic Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#FurtherDetails">Further Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#OtherDetails">Other Details</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="BasicDetails">
                        <div class="col-lg-12">
                            <br />
                            @Html.HiddenFor(model => model.Property.Id)
                            @Html.HiddenFor(model => model.Property.PropertyRef)
                            @Html.HiddenFor(model => model.Property.PropertySource)
                            @Html.HiddenFor(model => model.Property.Floors)
                            @Html.HiddenFor(model => model.Property.AptNo)
                            @Html.HiddenFor(model => model.Property.Pdate)
                            @Html.HiddenFor(model => model.Property.Doc)
                            @Html.HiddenFor(model => model.Property.Status)
                            @Html.HiddenFor(model => model.Property.Crent)
                            @Html.HiddenFor(model => model.Property.Reservedrent)
                            @Html.HiddenFor(model => model.Property.Rented)
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Property Name</label>
                                        <input id="propertyName" asp-for="Property.BldgName" class="form-control" type="text" style="border-radius: 10px;" list="buildingName" />
                                        <datalist id="buildingName">
                                        </datalist>
                                        <span asp-validation-for="Property.BldgName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Property Type</label>
                                        <select asp-for="Property.PropertyType" class="form-control" style="border-radius: 10px;">
                                            <option hidden>--Select--</option>
                                            <option value="Apartment">Apartment</option>
                                            <option value="Commercial">Commercial</option>
                                            <option value="Commercial Space">Commercial Space</option>
                                            <option value="Duplex">Duplex</option>
                                            <option value="Penthouse Apartment">Penthouse Apartment</option>
                                            <option value="Residential">Residential</option>
                                            <option value="Studio">Studio</option>
                                            <option value="Villa">Villa</option>
                                            <option value="Villa Apartment">Villa Apartment</option>
                                            <option value="Villa Floor">Villa Floor</option>
                                        </select>
                                        <span asp-validation-for="Property.PropertyType" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Block Name</label>
                                        <input asp-for="Property.BlockName" class="form-control" type="text" style="border-radius: 10px;" />
                                        <span asp-validation-for="Property.BlockName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Building Number</label>
                                        <input asp-for="Property.BldgNo" class="form-control" type="text" style="border-radius: 10px;" />
                                        <span asp-validation-for="Property.BldgNo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Area/Location</label>
                                        <select id="location" asp-for="Property.Location" class="form-control" style="border-radius: 10px;">
                                            <option hidden>--Select--</option>
                                        </select>
                                        <span asp-validation-for="Property.Location" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Street Name</label>
                                        <input asp-for="Property.StreetName" class="form-control" type="text" style="border-radius: 10px;" />
                                        <span asp-validation-for="Property.StreetName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Bed</label>
                                        <select id="bed" asp-for="Property.Bed" class="form-control" style="border-radius: 10px;">
                                            <option value="">--Select--</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="Mulhaq">Mulhaq</option>
                                            <option value="Basement">Basement</option>
                                            <option value="Shop">Shop</option>
                                            <option value="RT">RT</option>
                                        </select>
                                        <span asp-validation-for="Property.Bed" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Bath</label>
                                        <input asp-for="Property.Bath" class="form-control" type="text" style="border-radius: 10px;" />
                                        <span asp-validation-for="Property.Bath" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Apt/Units</label>
                                        <input id="units" asp-for="Property.Units" class="form-control" type="text" style="border-radius: 10px;" />
                                        <span asp-validation-for="Property.Units" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Floors</label>
                                        <input id="floors" asp-for="Floors" class="form-control" type="text" style="border-radius: 10px;" />
                                        <span asp-validation-for="Floors" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Type(SF/UF/FF)</label>
                                        <select id="type" asp-for="Property.Furnished" class="form-control" style="border-radius: 10px;">
                                            <option value="">--Select--</option>
                                            <option value="SF">SF</option>
                                            <option value="FF">FF</option>
                                            <option value="UF">UF</option>
                                        </select>
                                        <span asp-validation-for="Property.SalesType" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Rent</label>
                                        <input asp-for="Property.Amount" class="form-control" type="text" style="border-radius: 10px;" />
                                        <span asp-validation-for="Property.Amount" class="text-danger"></span>
                                    </div>
                                </div>
                                
                                <div class="col-lg-3">
                                    <div class="form-group" style="padding-top: 31px;">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <button id="addButton" type="button" class="btn btn-primary">Add</button>@*asp-action="Add" asp-controller="Property"*@
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <button id="clearButton" type="button" class="btn btn-primary">Clear</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    $(document).ready(function () {
                                        $('#addButton').click(function () {
                                            var units = $('#units').val();
                                            var floors = $('#floors').val();
                                            var propertyName = $('#propertyName').val();
                                            var type = $('#type').val();
                                            var bed = $('#bed').val();
                                            var aptno = 1;
                                            for (var floor = 1; floor <= floors; floor++) {
                                                for (var i = 1; i <= units; i++) {
                                                    $('#tbody').append('<tr>');
                                                    $('#tbody').append('<td style="color:black">' + propertyName + '</td>');
                                                    $('#tbody').append('<td style="color:black">' + floor + '</td>');
                                                    $('#tbody').append('<td style="color:black">' + type + '</td>');
                                                    $('#tbody').append('<td style="color:black">' + bed + '</td>');
                                                    $('#tbody').append('<td style="color:black">' + aptno++ + '</td>');
                                                    $('#tbody').append('</tr>');
                                                    /*gaptno = ++aptno;*/
                                                }
                                            }

                                        })

                                        $('#clearButton').click(function () {
                                            $('#tbody').remove();
                                        })
                                    })
                                </script>
                                <div class="col-lg-12">
                                    <div class="row" style="width:100%">
                                        <table id="propertyList" class="table-bordered" cellpadding="5" cellspacing="5" style="width:100%;">
                                            <thead class="bg-success">
                                                <tr>
                                                    <th hidden></th>
                                                    <th class="table-bordered"><label style="color: black; font-size: 13px;">Property Name</label></th>
                                                    <th class="table-bordered"><label style="color: black; font-size: 13px;">Floor</label></th>
                                                    <th class="table-bordered"><label style="color: black; font-size: 13px;">Type</label></th>
                                                    <th class="table-bordered"><label style="color: black; font-size: 13px;">Bed</label></th>
                                                    <th class="table-bordered"><label style="color: black; font-size: 13px;">
                                                         </label></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody" class="bg-white">
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="FurtherDetails">
                        <div class="col-lg-12">
                            <br />
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Kitchen</label>
                                        <select asp-for="Property.Kitchen" class="form-control" style="border-radius: 10px;">
                                            <option value="">--Select--</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <span asp-validation-for="Property.Kitchen" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Gym</label>
                                        <select asp-for="Property.Gym" class="form-control" style="border-radius: 10px;">
                                            <option value="">--Select--</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <span asp-validation-for="Property.Gym" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">CCTV</label>
                                        <select asp-for="Property.Cctv" class="form-control" style="border-radius: 10px;">
                                            <option value="">--Select--</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <span asp-validation-for="Property.Cctv" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Living Room</label>
                                        <select asp-for="Property.LivingRoom" class="form-control" style="border-radius: 10px;">
                                            <option value="">--Select--</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <span asp-validation-for="Property.LivingRoom" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Landlord RESF</label>
                                        <select asp-for="Property.Resf" class="form-control" style="border-radius: 10px;">
                                            <option value="">--Select--</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <span asp-validation-for="Property.Resf" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Balcony</label>
                                        <select asp-for="Property.Balcony" class="form-control" style="border-radius: 10px;">
                                            <option value="">--Select--</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <span asp-validation-for="Property.Balcony" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Garden</label>
                                        <select asp-for="Property.Garden" class="form-control" style="border-radius: 10px;">
                                            <option value="">--Select--</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <span asp-validation-for="Property.Garden" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Internet</label>
                                        <select asp-for="Property.Internet" class="form-control" style="border-radius: 10px;">
                                            <option value="">--Select--</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <span asp-validation-for="Property.Internet" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Study Room</label>
                                        <select asp-for="Property.StudyRoom" class="form-control" style="border-radius: 10px;">
                                            <option value="">--Select--</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <span asp-validation-for="Property.StudyRoom" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Sea View</label>
                                        <select asp-for="Property.Seaview" class="form-control" style="border-radius: 10px;">
                                            <option value="">--Select--</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <span asp-validation-for="Property.Seaview" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Parking</label>
                                        <select asp-for="Property.Parking" class="form-control" style="border-radius: 10px;">
                                            <option value="">--Select--</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <span asp-validation-for="Property.Parking" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">OSN</label>
                                        <select asp-for="Property.Osn" class="form-control" style="border-radius: 10px;">
                                            <option value="">--Select--</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <span asp-validation-for="Property.Osn" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Cable TV</label>
                                        <select asp-for="Property.CabelTv" class="form-control" style="border-radius: 10px;">
                                            <option value="">--Select--</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <span asp-validation-for="Property.CabelTv" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Maid Room</label>
                                        <select asp-for="Property.MaidRoom" class="form-control" style="border-radius: 10px;">
                                            <option value="">--Select--</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <span asp-validation-for="Property.MaidRoom" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Pool</label>
                                        <select asp-for="Property.Pool" class="form-control" style="border-radius: 10px;">
                                            <option value="">--Select--</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <span asp-validation-for="Property.Pool" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Security</label>
                                        <select asp-for="Property.Security" class="form-control" style="border-radius: 10px;">
                                            <option value="">--Select--</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <span asp-validation-for="Property.Security" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">AC</label>
                                        <select asp-for="Property.Ac" class="form-control" style="border-radius: 10px;">
                                            <option value="">--Select--</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <span asp-validation-for="Property.Ac" class="text-danger"></span>
                                    </div>
                                </div>
                                @*<div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label text-black-50">Driver's Room</label>
                                            <select asp-for="Property." class="form-control">
                                                <option value="">--Select--</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>
                                            </select>
                                            <span asp-validation-for="Property." class="text-danger"></span>
                                        </div>
                                    </div>*@
                                @*<div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label text-black-50">Play Area</label>
                                            <select asp-for="Property.PlayArea" class="form-control">
                                                <option value="">--Select--</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>
                                            </select>
                                            <span asp-validation-for="Property.PlayArea" class="text-danger"></span>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="OtherDetails">
                        <div class="col-lg-12">
                            <br />
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Source</label>
                                        <input asp-for="Property.Source" class="form-control" type="text" style="border-radius: 10px;" />
                                        <span asp-validation-for="Property.Source" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Visited By</label>
                                        <input asp-for="Property.Vistedby" class="form-control" type="text" style="border-radius: 10px;" />
                                        <span asp-validation-for="Property.Vistedby" class="text-danger"></span>
                                    </div>
                                </div>
                                @using Microsoft.AspNetCore.Http;
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Updated By</label>
                                        <input readonly asp-for="Property.Updatedby" value="@Context.Session.GetString("CurrentUsername")" class="form-control" type="text" style="border-radius: 10px;" />
                                        <span asp-validation-for="Property.Updatedby" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label text-black-50">Description</label>
                                        @*<input asp-for="Property.Description" class="form-control" type="text" />*@
                                        <textarea asp-for="Property.Description" class="form-control" style="width: 400px; border-radius: 10px;"></textarea>
                                        <span asp-validation-for="Property.Description" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="color:burlywood">
            <div class="card-body">
                <div class="col-lg-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary float-right" style="border-radius:10px;" onclick="location.href='@Url.Action("CreateProperty", "Property",Model)'">Create</button>
                        @*<button type="submit" class="btn btn-primary float-right" style="border-radius:10px;">Create</button>*@
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@*</div>*@
