@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@*@model PMS_Admin_Web.Models.Users.ListUserModel*@

@model List<PMS_Admin_Web.Models.Marketing.DailyProgressModel>

@{
    ViewData["Title"] = "Users";
}

@if (ViewBag.Message != null)
{
<script type="text/javascript">

    window.onload = function () {
        alert("@ViewBag.Message");
    };
    if (@ViewBag.Message == "Access denied") {
        window.location.href = "@Url.Action("MarketingAdmin", "Home")";
    }
</script>

}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<!--script goes here...-->
<script>
    $(document).ready(function () {
        //start of the document ready function
        //delcaring global variable to hold primary key value.
        var pryEmpId;
        $('.deleteprompt').click(function () {
            var confirmMessageBox = confirm('Are you sure you wish to delete this record ?');
            if (confirmMessageBox) {
                pryEmpId = $(this).attr('id');
                //alert(pryEmpId);
                $.ajax({
                    type: 'GET',
                    url: "@Url.Action("DeleteUser", "User")",
                    data: { Id: pryEmpId },

                    success: function (response) {
                        alert(response);
                        location.reload();
                    },
                    error: function (err) {
                        alert(err);
                        location.reload();
                    }
                });

            }

        });

        $('#btnSearch').click(function () {
            var searchDate = $('#searchDate').val();

            if (searchDate != '') {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DailyProgressSearch", "Marketing")",
                    data: { date: searchDate },
                    success: function (response) {
                        $('#tbody').html('');
                        $.each(response, function (k, v) {

                            $('#tbody').append('<tr><td hidden>' + v.id + '</td><td style="color:black;">' + v.lename + '</td><td style="color:black;">' + v.scheduletype + '</td><td style="color:black;">' + v.fromtime + '</td><td style="color:black;">' + v.totime + '</td><td style="color:black;">' + v.refno + '</td><td style="color:black;">' + v.clientname + '</td><td style="color:black;">' + v.remarks + '</td><td style="color:black;">' + v.comments + '</td><td style="color:black;">' + v.drivername + '</td></tr>');
                            
                            
                        });
                    }
                })
            }
            else {
                $('#tbody').html('');
                /*$('#tbody').append('<tr>');*/
                $('#tbody').append('<p style="text-align: center;">Search string empty</p>');
                /*$('#tbody').append('</tr>');*/
            }
        });

        //end of the docuement ready function
    });
</script>

@*<div class="row">*@
<div class="col-lg-12">
    <div class="card" style="color:burlywood">
        <div class="col-lg-12">
            <div class="card-body">
                <form asp-action="" asp-controller="">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3">
                                <h5 style="color:black"><strong>Daily Progress</strong></h5>
                            </div>
                            <div class="col-lg-3"></div>
                            <div class="col-lg-3"></div>
                            <div class="col-lg-3 float-right"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="">
                                <div class="row">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-3">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="control-label text-black-50">Search</label>
                                                    <input id="searchDate" class="form-control" type="date" style="border-radius: 10px;" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <button id="btnSearch" type="button" class="btn btn-primary" style="margin-top: 31px; border-radius: 10px;">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <table class="table-bordered" cellpadding="5" cellspacing="5" style="width:100%;">
                            <thead class="bg-success">
                                <tr>
                                    <th hidden></th>
                                    <th class="table-bordered"><label style="color: black; font-size: 17px;">LE/Admin/Others</label></th>
                                    <th class="table-bordered"><label style="color: black; font-size: 17px;">Schedule Type</label></th>
                                    <th class="table-bordered"><label style="color: black; font-size: 17px;">From Time</label></th>
                                    <th class="table-bordered"><label style="color: black; font-size: 17px;">To Time</label></th>
                                    <th class="table-bordered"><label style="color: black; font-size: 17px;">Ref No</label></th>
                                    <th class="table-bordered"><label style="color: black; font-size: 17px;">Client Name</label></th>
                                    <th class="table-bordered"><label style="color: black; font-size: 17px;">Remarks</label></th>
                                    <th class="table-bordered"><label style="color: black; font-size: 17px;">Comments</label></th>
                                    <th class="table-bordered"><label style="color: black; font-size: 17px;">Driver Name</label></th>
                                    @*<th class="table-bordered" colspan="3"><label style="color: black; font-size: 17px; text-align: center;">Actions</label></th>*@
                                </tr>
                            </thead>
                            <tbody id="tbody" class="bg-white">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td hidden>@item.id</td>
                                        <td style="color:black;">@item.lename</td>
                                        <td style="color:black;">@item.scheduletype</td>
                                        <td style="color:black;">@item.fromtime</td>
                                        <td style="color:black;">@item.totime</td>
                                        <td style="color:black;">@item.refno</td>
                                        <td style="color:black;">@item.clientname</td>
                                        <td style="color:black;">@item.remarks</td>
                                        <td style="color:black;">@item.comments</td>
                                        <td style="color:black;">@item.drivername</td>
                                        @*<td style="text-align: center;">
                                            <a asp-controller="User" asp-action="EditUser" asp-route-id="@item.id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        </td>*@
                                        @*<td style="text-align: center;">
                                            <a href="javascript:void(0)" id="@item.Id" class="deleteprompt"><i style="color:red" class="fa fa-trash" aria-hidden="true"></i></a>
                                        </td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />
                    
                </form>
                
            </div>
        </div>
    </div>
</div>
@*</div>*@
