@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers


@model PMS_Admin_Web.Models.Marketing.ViewInActiveModel
@using PMS_Admin_Web.Repository;

@{
    ViewData["Title"] = "View Inactives";
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}

@if (ViewBag.Message == "Access denied")
{
    <script>
        history.back();
    </script>
}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<!--script goes here...-->
<script>
    $(document).ready(function () {
        //start of the document ready function
        //delcaring global variable to hold primary key value.
        $('.openPGLprompt').click(function () {
            var confirmMessageBox = confirm('Are you Sure, you want to Open the Inquiry?');
            if (confirmMessageBox) {
                var refid = $(this).attr('id');

                $.ajax({
                    type: 'GET',
                    url: "@Url.Action("OpenPGL", "Marketing")",
                    data: { refid: refid },

                    success: function (response) {
                        alert(response);
                        location.reload();
                    }//,
                    //error: function (err) {
                    //    alert(err);
                    //    location.reload();
                    //}
                });
            }
        });

        $('#btnSearch').click(function () {
            var txtSearchUser = $('#txtSearchUser').val();

            if (txtSearchUser != '') {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SearchUser", "User")",
                    data: { searchUsername: txtSearchUser },
                    success: function (response) {
                        $('#tbody').html('');
                        $.each(response, function (k, v) {

                            $('#tbody').append('<tr>');
                            $('#tbody').append('<td hidden>' + v.id + '</td>');
                            $('#tbody').append('<td style="color:black;">' + v.usrname + '</td>');
                            $('#tbody').append('<td style="color:black;">' + v.department + '</td>');
                            $('#tbody').append('<td style="color:black;">' + v.role + '</td>');
                            $('#tbody').append('<td style="color:black;">' + v.designation + '</td>');

                            $('#tbody').append('<td style="text-align: center;"><a href="@Url.Action("EditUser", "User")?Id=' + v.id + '"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>');
                            $('#tbody').append('<td style="text-align: center;"><a href="javascript:void(0)" id="' + v.id + '" class="deleteprompt"><i style="color:red" class="fa fa-trash" aria-hidden="true"></i></a></td>');
                            $('#tbody').append('</tr>');
                            $('.pagination').css('display', 'none');
                        });
                    }
                })
            }
            else {
                $('#tbody').html('');
                /*$('#tbody').append('<tr>');*/
                $('#tbody').append('<p style="text-align: center;">Search string empty</p>');
                /*$('#tbody').append('</tr>');*/
            }
        });

        //end of the document ready function
    });
</script>

@*<div class="row">*@
<div class="col-lg-12">
    <div class="card" style="color:burlywood">
        <div class="col-lg-12">
            <div class="card-body">
                <form asp-action="ViewInActive" asp-controller="Marketing" method="post">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3">
                                <h5 style="color:black"><strong>View inactives</strong></h5>
                            </div>
                            <div class="col-lg-3"></div>
                            <div class="col-lg-3"></div>
                            <div class="col-lg-3 float-right">
                                @*<button asp-action="CreateUser" class="btn btn-primary">Create New User <i class="fa fa-plus-square-o" style="font-size:24px;"></i></button>*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3" style="margin-top: 30px;">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="control-label text-black-50">Search PGL</label>
                                                    <input id="txtSearch" class="form-control" type="text" style="border-radius: 10px;" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <button id="btnSearch" type="button" class="btn btn-primary" style="border-radius:10px; margin-top:32px;">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" style="margin-top: 30px;">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="control-label text-black-50">Enquiry Date b/w</label>
                                                    <input id="fromdate" class="form-control" type="date" style="border-radius: 10px;" />
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="control-label text-black-50">and</label>
                                                    <input id="todate" class="form-control" type="date" style="border-radius: 10px;" />
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <button id="btnSearchdate" type="button" class="btn btn-primary" style="border-radius:10px; margin-top:32px;">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3" style="margin-top: 30px;">
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <br />
                        <div>
                            <table class="table-bordered" cellpadding="5" cellspacing="5" style="width:100%;">
                                <thead class="bg-success">
                                    <tr>
                                        <th hidden></th>
                                        <th class="table-bordered"><label style="color: black; font-size: 17px; width: 140px;">Enquiry No</label></th>
                                        <th class="table-bordered"><label style="color: black; font-size: 17px; width: 100px;">Client Name</label></th>
                                        <th class="table-bordered"><label style="color: black; font-size: 17px; width: 75px;">Mobile</label></th>
                                        <th class="table-bordered"><label style="color: black; font-size: 17px; width: 165px;">Property Type</label></th>
                                        <th class="table-bordered"><label style="color: black; font-size: 17px; width: 100px;">Min Budget</label></th>
                                        <th class="table-bordered"><label style="color: black; font-size: 17px; width: 100px;">Max Budget</label></th>
                                        <th class="table-bordered"><label style="color: black; font-size: 17px;">Enquired By</label></th>
                                        <th class="table-bordered"><label style="color: black; font-size: 17px; width: 105px;">Enquiry Date</label></th>
                                        <th class="table-bordered"><label style="color: black; font-size: 17px; width: 85px;">Update</label></th>
                                        <th class="table-bordered"><label style="color: black; font-size: 17px;">Print</label></th>
                                        @*<th class="table-bordered"><label style="color: black; font-size: 17px;">Column9</label></th>*@
                                        <th class="table-bordered" colspan="3"><label style="color: black; font-size: 17px; text-align: center; width: 100px;">Actions</label></th>
                                    </tr>
                                </thead>
                                <tbody id="tbody" class="bg-white">
                                    @foreach (var item in Model.pgls)
                                    {
                                        <tr>
                                            <td hidden>@item.Id</td>
                                            <td style="color:black;">@item.Pglrefno</td>
                                            <td style="color:black;">@item.ClientName</td>
                                            <td style="color:black;">@item.Mobile</td>
                                            <td style="color:black;">@item.Propertytype</td>
                                            <td style="color:black;">@item.MinBudget</td>
                                            <td style="color:black;">@item.Maxbudget</td>
                                            <td style="color:black;">@item.Completedby</td>
                                            <td style="color:black;">@Convert.ToDateTime(item.Doc).ToShortDateString()</td>
                                            <td style="color:black;">@Convert.ToDateTime(item.Updatedon).ToShortDateString()</td>
                                            <td style="text-align: center;">
                                                <a asp-route-id="@item.Id">Print</a>
                                            </td>
                                            @*<td></td>*@
                                            <td style="text-align: center;">
                                                <a href="javascript:void(0)" id="@item.Pglrefno" class="openPGLprompt">Open PGL</a>
                                            </td>
                                            <td style="text-align: center;">
                                                <a asp-action="UpdatePGL" asp-controller="Marketing" asp-route-pglrefno="@item.Pglrefno"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                            </td>
                                            @*<td style="text-align: center;">
                                                    <a href="javascript:void(0)" id="@item.Id" class="deleteprompt"><i style="color:red" class="fa fa-trash" aria-hidden="true"></i></a>
                                                </td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                            
                            
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*</div>*@
