@{
    ViewData["Title"] = "MonthlyAnalysismain";
    Layout = "";
}

@model PMS_Admin_Web.Models.Marketing.MonthlyAnalysismainModel;

<html>
    <head>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    </head>
    <body>
        <input id="hiddenfromdate" hidden value="@Model.fromdate" />
        <input id="hiddentodate" hidden value="@Model.todate" />
        <div class="row">
            <div class="col-lg-12">
                <table style="width:100%">
                    <thead>
                        <tr>
                            <th colspan="2"><h3>Client Inquiry Summary</h3></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <table class="table-bordered" style=" border: solid; border-color:black; width:100%;">
                                    <tr style="background-color:Orange; border: solid; border-color:black;">
                                        <td>Total Client Enquiry = @Convert.ToInt16(Model.p1command.count + Model.p1command1.count)</td>
                                    </tr>
                                    <tr style=" border: solid; border-color:black;">
                                        <td>CGL = @Model.p1command.count  Closed Leads = @Model.p1command3.count</td>
                                    </tr>
                                    <tr style=" border: solid; border-color:black;">
                                        <td>CGL = @Convert.ToInt16((Convert.ToInt16(Model.p1command3.count) * 100) / @Convert.ToInt16(Model.p1command.count))%  PGL = @Convert.ToInt16((Convert.ToInt16(Model.p1command2.count) * 100) / @Convert.ToInt16(Model.p1command1.count))%</td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table class="table-bordered"style=" border: solid; border-color:black; width:100%;margin-right: -145px;">
                                    <tr style="background-color:Orange; border: solid; border-color:black;">
                                        <td>Total Closed Leads = @Convert.ToInt16(Model.p1command2.count + Model.p1command3.count)</td>
                                    </tr>
                                    <tr style=" border: solid; border-color:black;">
                                        <td>PGL = @Model.p1command1.count  Closed Leads = @Model.p1command2.count</td>
                                    </tr>
                                    <tr style=" border: solid; border-color:black;">
                                        <td>Total Percentage of Achieved Sales for the Month = @(Convert.ToInt16(@Convert.ToInt16(Model.p1command2.count + Model.p1command3.count)*100 / @Convert.ToInt16(Model.p1command.count + Model.p1command1.count)))%</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <table style="width:100%">
                    <tr>
                        <td>
                            <div id="chartdiv1" style="width: 500px; height: 400px;"></div>
                        </td>
                        <td>
                            <div id="chartdiv2" style="width: 500px; height: 400px;"></div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div id="chartdiv3" style="width: 500px; height: 400px;"></div>
                        </td>
                        <td>
                            <div id="chartdiv4" style="width: 500px; height: 400px;"></div>
                        </td>
                    </tr>
                </table>

                <table style="width:100%">
                    <tr>
                        <td>
                            <div id="chartdiv5" style="width: 500px; height: 400px;"></div>
                        </td>
                        <td>
                            <div id="chartdiv6" style="width: 500px; height: 400px;"></div>
                        </td>
                    </tr>
                </table>

                <table style="width:100%">
                    <tr>
                        <td>
                            <div id="chartdiv7" style="width: 500px; height: 400px;"></div>
                        </td>
                        <td>
                            <div id="chartdiv8" style="width: 500px; height: 400px;"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        
    </body>
</html>

<script type="text/javascript">
    // $(document).ready(function () {
    //     google.charts.load('current', { 'packages': ['corechart'] });
    //     google.charts.setOnLoadCallback(drawChart1);
    //     var fromdate = $('#hiddenfromdate').val();
    //     var todate = $('#hiddentodate').val();
    //     function drawChart1() {
    //         $.ajax({
    //             type: "POST",
    //             url: "@Url.Action("Page2PieChart1", "Marketing")",
    //             data: { fromdate: fromdate, todate: todate },
    //             contentType: "application/json; charset=utf-8",
    //             dataType: "json",
    //             success: function (r) {
    //                 console.log(r);
    //                 //var Data = r.jsonList;
    //                 //console.log(Data);
    //                 //var data = new google.visualization.arrayToDataTable();
    //                 var data = new google.visualization.DataTable();
    //                 data.addColumn('string', 'Type');
    //                 data.addColumn('number', 'Count');

    //                 for (var i = 0; i < r.length; i++) {
    //                     data.addRow([r[i].type, r[i].count]);
    //                 }

    //                 //Pie
    //                 var options = {
    //                     title: 'Client Inquiry Distribution'
    //                 };
    //                 var chart = new google.visualization.PieChart($("#chartdiv1"));
    //                 chart.draw(data, options);
    //             },
    //             failure: function (r) {
    //                 alert(r.d);
    //             },
    //             error: function (r) {
    //                 alert(r.d);
    //             }
    //         });
    //     }
    // })

    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart1);
    google.charts.setOnLoadCallback(drawChart2);
    google.charts.setOnLoadCallback(drawChart3);
    google.charts.setOnLoadCallback(drawChart4);
    google.charts.setOnLoadCallback(drawChart5);
    google.charts.setOnLoadCallback(drawChart6);
    google.charts.setOnLoadCallback(drawChart7);
    google.charts.setOnLoadCallback(drawChart8);

    var fromdate = $('#hiddenfromdate').val();
    var todate = $('#hiddentodate').val();

    function drawChart1() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Page2PieChart1", "Marketing")",
            data: { fromdate: fromdate, todate: todate },
            success: function (r) {
                console.log(r);
                //var Data = r.jsonList;
                //console.log(Data);
                //var data = new google.visualization.arrayToDataTable();
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Type');
                data.addColumn('number', 'Count');

                for (var i = 0; i < r.length; i++) {
                    data.addRow([r[i].type, r[i].count]);
                }

                //Pie
                var options = {
                    title: 'Client Inquiry Distribution'
                };
                var chart = new google.visualization.PieChart(document.getElementById('chartdiv1'));
                chart.draw(data, options);
            },
            failure: function (r) {
                alert(r.d);
            },
            error: function (r) {
                alert(r.d);
            }
        });
    }

    function drawChart2() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Page2PieChart2", "Marketing")",
            data: { fromdate: fromdate, todate: todate },
            success: function (r) {
                console.log(r);
                //var Data = r.jsonList;
                //console.log(Data);
                //var data = new google.visualization.arrayToDataTable();
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Type');
                data.addColumn('number', 'Count');

                for (var i = 0; i < r.length; i++) {
                    data.addRow([r[i].type, r[i].count]);
                }

                //Pie
                var options = {
                    title: 'Closed CGL Against Client Inquiry'
                };
                var chart = new google.visualization.PieChart(document.getElementById('chartdiv2'));
                chart.draw(data, options);
            },
            failure: function (r) {
                alert(r.d);
            },
            error: function (r) {
                alert(r.d);
            }
        });
    }

    function drawChart3() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Page2PieChart3", "Marketing")",
            data: { fromdate: fromdate, todate: todate },
            success: function (r) {
                console.log(r);
                //var Data = r.jsonList;
                //console.log(Data);
                //var data = new google.visualization.arrayToDataTable();
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Type');
                data.addColumn('number', 'Count');

                for (var i = 0; i < r.length; i++) {
                    data.addRow([r[i].type, r[i].count]);
                }

                //Pie
                var options = {
                    title: 'Closed PGL Against Client Inquiry'
                };
                var chart = new google.visualization.PieChart(document.getElementById('chartdiv3'));
                chart.draw(data, options);
            },
            failure: function (r) {
                alert(r.d);
            },
            error: function (r) {
                alert(r.d);
            }
        });
    }

    function drawChart4() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Page2PieChart4", "Marketing")",
            data: { fromdate: fromdate, todate: todate },
            success: function (r) {
                console.log(r);
                //var Data = r.jsonList;
                //console.log(Data);
                //var data = new google.visualization.arrayToDataTable();
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Type');
                data.addColumn('number', 'Count');

                for (var i = 0; i < r.length; i++) {
                    data.addRow([r[i].type, r[i].count]);
                }

                //Pie
                var options = {
                    title: 'Minimum Value of Inquiry Against Value of Closed Lead'
                };
                var chart = new google.visualization.PieChart(document.getElementById('chartdiv4'));
                chart.draw(data, options);
            },
            failure: function (r) {
                alert(r.d);
            },
            error: function (r) {
                alert(r.d);
            }
        });
    }

    function drawChart5() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Page3BarChart1", "Marketing")",
            data: { fromdate: fromdate, todate: todate },
            success: function (r) {
                console.log(r);
                //var Data = r.jsonList;
                //console.log(Data);
                //var data = new google.visualization.arrayToDataTable();
                var data = new google.visualization.DataTable();
                data.addColumn('number', 'Year');
                data.addColumn('number', 'Count');

                var dataArray = [];
                // var yearArray = [];
                // var srcArray = [];

                // $.each(r.year, function (i, item) {
                //     yearArray.push([String(item)]);
                // });

                // $.each(r.srclist, function (i, item) {
                //     srcArray.push([Number(item.minbudget)]);
                // });

                // dataArray.push([yearArray, srcArray]);

                $.each(r, function (i, item) {
                    dataArray.push([Number(item.year), Number(item.tot)]);
                });

                data.addRows(dataArray);
                
                var options = {
                    title: 'Client Inquiry Assignment',
                    // chartArea: {
                    //     width: '50%'
                    // },
                    //colors: ['#b0120a', '#7b1fa2', '#ffab91', '#d95f02'],
                    hAxis: {
                        //title: 'Budget',
                        //minValue: 0
                        format:'0'
                    },
                    vAxis: {
                        //title: 'Year',
                        format: '0'
                    }
                };
                var chart = new google.visualization.BarChart(document.getElementById('chartdiv5'));

                chart.draw(data, options);
                //return false;
            },
            failure: function (r) {
                alert(r.d);
            },
            error: function (r) {
                alert(r.d);
            }
        });
    }

    function drawChart6() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Page3BarChart2", "Marketing")",
            data: { fromdate: fromdate, todate: todate },
            success: function (r) {
                console.log(r);
                //var Data = r.jsonList;
                //console.log(Data);
                //var data = new google.visualization.arrayToDataTable();
                var data = new google.visualization.DataTable();
                data.addColumn('number', 'Year');
                data.addColumn('number', 'Min Budget');

                var dataArray = [];
                
                $.each(r, function (i, item) {
                    dataArray.push([Number(item.year), Number(item.minbudget)]);
                });

                data.addRows(dataArray);

                var options = {
                    title: 'Minimum Value of Assigned Inquiry',
                    // chartArea: {
                    //     width: '50%'
                    // },
                    //colors: ['#b0120a', '#7b1fa2', '#ffab91', '#d95f02'],
                    hAxis: {
                        //title: 'Budget',
                        //minValue: 0
                    },
                    vAxis: {
                        //title: 'Year',
                        format: '0'
                    }
                };
                var chart = new google.visualization.BarChart(document.getElementById('chartdiv6'));

                chart.draw(data, options);
                //return false;
            },
            failure: function (r) {
                alert(r.d);
            },
            error: function (r) {
                alert(r.d);
            }
        });
    }

    function drawChart7() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Page4ColumnChart1", "Marketing")",
            data: { fromdate: fromdate, todate: todate },
            success: function (r) {
                console.log(r);
                //var Data = r.jsonList;
                //console.log(Data);
                //var data = new google.visualization.arrayToDataTable();
                var data = new google.visualization.DataTable();
                data.addColumn('number', 'Year');
                data.addColumn('number', 'Min Budget');
                
                // $.each(r.completedbynames, function (i, item) {
                //     data.addColumn('string', item);
                // });
                

                var dataArray = [];

                $.each(r.list, function (i, item) {
                    dataArray.push([Number(item.year), Number(item.count)]);
                });

                data.addRows(dataArray);

                var options = {
                    title: 'RESF Value of Closed Leads',
                    // chartArea: {
                    //     width: '50%'
                    // },
                    //colors: ['#b0120a', '#7b1fa2', '#ffab91', '#d95f02'],
                    hAxis: {
                        //title: 'Budget',
                        //minValue: 0
                        format:'0'
                    },
                    vAxis: {
                        //title: 'Year',
                        format: '0'
                    }
                };
                var chart = new google.visualization.ColumnChart(document.getElementById('chartdiv7'));

                chart.draw(data, options);
                //return false;
            },
            failure: function (r) {
                alert(r.d);
            },
            error: function (r) {
                alert(r.d);
            }
        });
    }

    function drawChart8() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Page4ColumnChart1", "Marketing")",
            data: { fromdate: fromdate, todate: todate },
            success: function (r) {
                console.log(r);
                //var Data = r.jsonList;
                //console.log(Data);
                //var data = new google.visualization.arrayToDataTable();
                var data = new google.visualization.DataTable();
                data.addColumn('number', 'Year');
                data.addColumn('number', 'Min Budget');

                // $.each(r.completedbynames, function (i, item) {
                //     data.addColumn('string', item);
                // });


                var dataArray = [];

                $.each(r.list, function (i, item) {
                    dataArray.push([Number(item.year), Number(item.count)]);
                });

                data.addRows(dataArray);

                var options = {
                    title: 'RESF Value of Closed Lead Against Minimum Value of Assigned Inquiry',
                    // chartArea: {
                    //     width: '50%'
                    // },
                    //colors: ['#b0120a', '#7b1fa2', '#ffab91', '#d95f02'],
                    hAxis: {
                        //title: 'Budget',
                        //minValue: 0
                        format: '0'
                    },
                    vAxis: {
                        //title: 'Year',
                        format: '0'
                    }
                };
                var chart = new google.visualization.ColumnChart(document.getElementById('chartdiv8'));

                chart.draw(data, options);
                //return false;
            },
            failure: function (r) {
                alert(r.d);
            },
            error: function (r) {
                alert(r.d);
            }
        });
    }

</script>